/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/.env
docker/db/root/.bash_history
docker/db/root/.mysql_history
docker/web/root/.bash_history
docker/web/root/.mysql_history
docker/web/root/.node_repl_history
docker/web/root/.viminfo
docker/web/root/.composer/
docker/web/root/.config/
docker/web/root/.npm/
docker/web/root/.vim/.netrwhist